.perfilcontainer {
    background-color: var(--principal);
    width: 70%;
    margin: 3rem ;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.perfilcontainer h1 {
    margin-bottom: 20px;
    color: var(--text);
    display: flex;
    justify-content: center;
}
.perfilcontainer p {
    font-size: 1.6rem;
    color: var(--text);
    margin: 2rem;
    text-align: start;
}
.perfilcontainer a {
    color: var(--text);
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: var(--terciaria);
    color: var(--text);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}


/* inicio editar perfil -----------------------------------------------------------------------------------------------------------------------------------*/
.editarperfilcontainer {
    width: 70%;
    margin: 3rem ;
    padding: 2rem;
    background-color: var(--principal);
    border-radius: 10px;
    color: var(--text);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.editarperfilcontainer h1 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--text);
}

.formgroup {
    margin-bottom: 1.5rem;
}

.formgroup label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: var(--text);
    text-align: start;
}

.formgroup input {
    width: 100%;
    padding: 1rem 0;
    border-radius: 5px;
    background-color: var(--text);
    color: #000;
    font-size: 16px;
    text-indent: 1rem;
}

.formgroup input::placeholder {
    color: #000;
}

.editarperfilcontainer a {
    display: block;
    text-align: center;
    margin-top: 1rem;
    color: var(--text);
    background-color: var(--terciaria);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.editarperfilcontainer a:hover {
    background-color: var(--secundaria);
}



