:root {
    --bg: #f4f4f4;
    --bg2: #f0f0f0;
    --text: #f5f5f5;
    --principal1: #56070C;
    --secundaria2: #11114E;
}

/*Estilo do perfil da navbar*/

.navlinkstyle img {
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    object-fit: cover;
}

.barra {
    justify-content: center;
    align-items: center;
    background-color: var(--principal1);
    color: white;
    width: 100%;
    padding: 1rem 1rem 1rem 0rem;
}

/* Primeira tela */
.navbar {
    background-color: var(--principal1);
    color: #ffffff;
    padding: 0.4rem;
    gap: 10rem;              /* espaçamento entre itens */
}

/* Estilo do Link da navbar */
.navlinkstyle {
    padding:3rem;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

.navlinkstyle2 {
    padding:1rem;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

/** 
 * Caixa1 é o container principal da estrutura. 
 * Ele centraliza todos os elementos na vertical, com espaçamento entre eles 
 * e uma borda vermelha ao redor.
 */
.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

/* Linha de cima */
.caixa1 {
  grid-column: 1 / 2; /* 6 colunas */
  height: 30rem;
  background-color: #fff;
  
  border-radius:0.3rem;
}

.caixa2 {
  grid-column: 0 / 3; /* 6 colunas */
  height: 30rem;
  background-color: #fff;
  
  border-radius:0.3rem;
}

.caixa3 {
  grid-column: 3 / 5; /* 3 colunas */
  height: 30rem;
  background-color: #fff;
  border: 2px solid red;
  
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius:0.3rem;
}

.caixa4 {
  grid-column: 1 / 5; /* 3 colunas */
  height: 30rem;
  background-color: #fff;
  
  display: flex;         /* Coloca imagem e textos lado a lado */
  align-items: center;   /* Alinha verticalmente */
  gap: 10px;             /* Espaço entre a imagem e os textos */
  border-radius:0.3rem;
}

.caixadisplay{
    display:flex;
}

.imagem{
    margin-top:10rem;
}

.imagem2{
    margin-right:10rem;
    margin-left:20rem;
}

.imagem3{
    margin-left:10rem;
    margin-right:10rem;
}

.textosContainer {
  display: flex;
  flex-direction: column; /* Um embaixo do outro */
  justify-content: center;
}

.linkStyle{
    color:black;
    text-decoration:none;
}
/*Box vertical (Padrão)*/
.boxText{
    border-radius: 0.3rem;
    padding: 1rem 0rem;
    overflow: hidden;
    text-align:start;
    width:90rem;
    margin-top:1rem;
    background-color: #c9c9c9d8;
}
/*Box vertical (Pequena)*/
.boxText2{
    border-radius: 0.3rem;
    padding: 1rem 0rem;
    overflow: hidden;
    text-align:start;
    width:30rem;
    margin-top:1rem;
    background-color: #c9c9c9d8;
}
/*Estilo da fonte da Box TITULO (Padrão)*/
.textstyle1{
    font-weight: bold;
}

/*Estilo da fonte da Box TITULO (Pequena)*/
.textstyle2{
    margin-top:2rem;
    font-size:2rem;
    font-weight: bold;
}

.siteFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--principal1); /* ou qualquer cor escura */
    padding: 2rem 5%;
    color: #fff;
    flex-wrap: wrap;
    gap: 2rem;
    height: 50vh;
}

.footerLogo img {
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    object-fit: cover;
}

.footerTexto h3 {
    font-size: 2rem;
    margin: 0;
        color: #fff;

}

.footerTexto p {
    margin-top: 2rem;
    font-size: 1.5rem;
        color: #fff;
        text-decoration: none;

}

.footerRedes {
    display: flex;
    gap: 1rem;
    font-size: 4rem;
    text-decoration: none;
}

.footerRedes a {
    color: #fff;
    transition: transform 0.2s, color 0.2s;
    text-decoration: none;
}

.footerRedes a:hover {
    transform: scale(1.2);
    color: white; /* destaque ao passar o mouse */
}