/*configurações padrão*/

:root {
  padding: 1rem;

  --bg: #DEDEDE;
  --text: #f5f5f5;
  --principal: #406E96;
  --secundaria: #2A4A64;
  --terciaria: #1F3A50;

  --font-primary: "Geist", "Geist Fallback";


  /* Transições */
  --transition-fast: 0.2s ease;
  --transition-base: 0.3s ease;

  --padding: 0 1rem;

  /* Controla a síntese de fontes (negrito, itálico) pelo navegador */
  font-synthesis: none;
  /* Otimiza a renderização do texto para melhor legibilidade */
  text-rendering: optimizeLegibility;
  /* Melhora a renderização de fontes em navegadores baseados em WebKit (Chrome, Safari) */
  -webkit-font-smoothing: antialiased;
  /* Melhora a renderização de fontes em navegadores Firefox no macOS */
  -moz-osx-font-smoothing: grayscale;

  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  /* Altera o modelo de caixa para incluir padding e border na largura e altura de um elemento */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


html {
  /* Adiciona um efeito de rolagem suave quando links internos são clicados */
  scroll-behavior: smooth;
  /* Define o tamanho da fonte base como 10px (para facilitar o uso de rem) */
  font-size: 62.5%;
  /* Garante que o elemento html não seja maior que a largura da viewport */
  max-width: 100vw;
}

body {
  display: flex;
  justify-content: center;

  /* Define a fonte primária usando uma variável CSS */
  font-family: var(--font-primary);
  background-color: var(--bg);
  color: var(--color-text);
  font-size: 1.6rem;

  /* Garante uma largura mínima de 320px para evitar layouts quebrados em telas pequenas */
  min-width: 32rem;
  min-height: 100vh;

  /* Adiciona um preenchimento ao redor do conteúdo do body usando uma variável CSS */


  /* Força a exibição da barra de rolagem vertical, evitando o deslocamento de elementos quando o conteúdo se torna longo o suficiente para precisar da barra */
  overflow-y: scroll;

  max-width: 144rem;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  
}

/*------------------------------------------------*/

h1 {
  color: var(--color-primary);
  font-size: 3.2rem;
  margin-bottom: 1rem;
}

.textoAlternativo {
  color: #757575;
  text-align: justify;
  line-height: 3rem;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 144rem;
  width: 100%;
}

header {
  background-color: var(--terciaria);
  color: var(--text);
  height: 3rem;
  width: 144rem;
  align-items: center;
  justify-content: center;
  display: flex;
}

/*menu*/
.sidebar {
  height: 5rem;
  max-width: 144rem;
  width: 100%;
  background: var(--principal);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nome {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nome .usuario {
  display: none;
}

.menu {
  font-size: 1.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 2rem;
}

.menu:hover {
  border: 1px solid;
  border-radius: 30%;
}

.sidebar ul {
  height: 100%;
  font-size: 1.6rem;
}

.sidebar ul li {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.navlist li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  /* ocupa espaço igual */
  height: 100%;
}

.navlist li a {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  width: 100%;
  color: var(--text);
  text-decoration: none;
  justify-content: center;
}

.navlist {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.navlist li a.perfil {
  flex-direction: column;
}

.sidebar .navlist li a .imgperfil {
  display: none;
  width: 10rem;
  height: 10rem;
  /* força a imagem a ser quadrada */
  object-fit: cover;
  /* garante que a imagem preencha o quadrado sem distorcer */
  border-radius: 100rem;
  /* borda redonda */
}

.sidebar ul li a .link_name {
  display: none;
  width: 100%;
}

.sidebar ul li a:hover {
  width: 100%;
  color: var(--text);
  border-bottom: 1px solid var(--text);
}

.sidebar ul .fix {
  background: var(--principal);
  border-top-left-radius: 15px;
  padding: 1rem;
  border-bottom-left-radius: 15px;
  width: 100%;
}

/* classe js -> abrir e fechar menu*/
.sidebar.abrir {
  width: 15rem;
  display: flex;
  transition: ease .5s;
}
.sidebar.abrir .usuario {
  display: block;
  width: 100%;
}
.sidebar.abrir .nome {
  margin-top: -6rem;
}
.sidebar.abrir .link_name {
  display: block;
  width: 100%;
}
.sidebar.abrir ul .fix {
  background: var(--principal);
  padding: .5rem 0;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 100%;
}
.sidebar.abrir ul li {
  padding: .5rem 0;
  transition: ease .5s;
}
.sidebar.abrir .navlist li a img {
  display: block;
}
.sidebar.abrir .sair {
  border: 1px solid;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  border-radius: 30%;
  transition: 0.2s;
  color: var(--secundaria)
}
.sidebar.abrir .sair:hover {
  background-color: #406E96;
}
.sidebar.abrir ul li {
  margin-top: 5rem;
}

.linkname {
  font-size: 1.4rem;
}

/* padrao de pesquisa */
.buscacontainer {
  display: flex;
  justify-content: flex-end;
  float: right;
  padding-top: 1rem;
  width: 100%;
}

.buscaform {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  justify-content: flex-end;
  background-color: var(--pesquisa);
  margin-bottom: 2rem;
  gap: 1rem;
  border: 1px solid #000;
}

.buscaform input[type="text"] {
  border: none;
  /* remove a borda preta */
  outline: none;
  /* remove o contorno ao focar */
  padding: 0.8rem 1rem;
  font-size: 1rem;
  background-color: var(--pesquisa);
  border-radius: 0.5rem 0 0 0.5rem;
  /* arredonda o lado esquerdo */
  color: #000;
}

.buscaform button {
  background: none;
  border: none;
  cursor: pointer;
}

.buscaform button i {
  padding: 0 1rem;
  font-size: 1.4rem;
  cursor: pointer;
  color: #000000;
}

/* Botão estilizado */
.botao {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  background-color: var(--secundaria);
  color: var(--text);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bold;
  background-color: #2A4A64;
  width: 10rem;
  height: 3rem;
}

.botao:hover {
  background-color: var(--terciaria);
}

/*card*/
.card {
  width: 100%;
  margin: 3.5rem;
  
  background-color: var(--principal);
  color: var(--text);
  border-radius: .8rem;
}

/* altura do card pequeno height: 15rem; a altura precisa pra por em cards menores */
/* texto que tem uma linha preta em baixo de fora a fora  */
.textnotificaçao {
  width: 100%;
  border-bottom: 2px solid var(--terciaria);
  color: var(--terciaria);
  font-weight: bold;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

p {
  font-size: 1.6rem;
}

.imagem {
  width: 10rem;
  height: 15rem;
}

.imagem img {
  width: 100%;
  height: 100%;
}

.input {
  width: 97.5%;
  /* Largura total do input */
  padding: 1rem;
  border: none;
  border-radius: 4px;
  margin: 1rem;
  background-color: white;
  /* Cor de fundo do input */
  color: #000;
}