.card-livro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 153rem;
    margin: 3.5rem 0;
    background-color: var(--principal);
    color: var(--text);
    border-radius: .8rem;
}

.informacoes {
    width: 60%;
    color: #000;
}
