:root {
    --bg: #f4f4f4;
    --bg2: #f0f0f0;
    --text: #f5f5f5;
    --principal1: #56070C;
    --secundaria2: #11114E;
}

.headerStyle{
    background-color: var(--principal1);
}

.displayContainer {
  display: flex;
}

.sec1 {
  margin-top: 5rem;
  margin-bottom:5rem;
  width: 15%;
  align-items: center;
  border-right: 1px solid;
  gap: 5%;
  padding: 1rem;
}

.sec1 img {
  width: 100%;
  height: 25rem;
}

.sec2 {
  display: flex;
  margin-top:3%;
  flex-direction: column; /* garante que h1 fique em cima e p embaixo */
  padding: 2rem;
  width: 85%;
}

.tituloAutor {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

.bio {
  text-align: justify;
  text-indent: 2rem;
  margin-top:5%;
  line-height: 2;
}

