:root {
    --bg: #f0f0f0;
    --text: #f5f5f5;
    --principal: #56070C;
    --secundaria: #11114E;
}

.headerStyle{
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--principal);
}

.headerStyle p {
    color: var(--text);
    font-size:0.5rem;
}

/*corpo da página*/

.container .sec1,
.container .sec2{
    display: flex;
    flex-direction: column;
    height: auto;
}

.sec1 {
    width: 15%;
    justify-content: space-around;
    align-items: center;
    border-right: 1px solid;
    gap: 5%
}
.sec1 img{
    width: auto;
    height: 18rem;
    
}
.sec2 {
    width: 85%;
    padding-left: 2rem;
}
.sec2 .cabecalho{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.sec2 .cabecalho h2{
    font-size: 3.5rem;
}
.sec2 .cabecalho p{
    font-size: 1.2rem;
}
.sec2 .conteudo{
    border-bottom: 1px solid;
    display: flex;
    flex-direction: column;
}
.sec2 .conteudo > div{
    display: flex;
    flex-direction: column;
    text-align: justify;
    text-indent: 2rem;
    padding: 2rem;
}
.sec2 .conteudo .sinopse{
    margin-bottom: 3rem;
}
.sec2 .conteudo .estrelas {
    font-size: 24px;
    color: gold;
    margin: 10px 0;
    text-align: center;
}
.sec2 .conteudo > div p{
    line-height: 2;
}
.sec2 .conteudo > div p > span{
    font-size: 1.2rem;
}

/*box resenhista*/
.sec2 .resenhista {
    display: flex; 
    flex-direction: row; 
    background-color: var(--principal);
    height: 20rem;
    padding: 5%;
    margin-bottom: 5%;
    color: var(--text);
    gap: 2rem; /* opcional: adiciona espaçamento entre os elementos */
    align-items: center; /* opcional: alinha verticalmente no centro */
}


.sec2 .resenhista .imagem {
    width: 20%;
    height: 15rem;
}

.sec2 .resenhista .imagem img {
    max-width: 100%;
    height: 15rem;
}
.sec2 .resenhista .resumo {
    width: 70%;
    border: 1px solid var(--text);
    border-radius: .5rem;
    height: auto;
}
.sec2 .resenhista .resumo p{
    color: var(--text);
}