
.box {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row;
}

/* Blocos verticais e horizontais compartilhados */
.box .box-vert1,
.box .box-hor1 {
    width: 50%;
    display: flex;
    box-sizing: border-box;
}

/* ----------- VERTICAL - tipo 1  ----------- */
.box .box-vert1 {
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
}

.box1 .box-vert1 a {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
}

.box1 .box-vert1 a:hover {
    transform: scale(0.98);
}

.box1 .box-vert1 .vert1 {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.box1 .box-vert1 .vert1 .image,
.box1 .box-vert1 .vert1 .info {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1 .box-vert1 .vert1 .image img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.box1 .box-vert1 .vert1 .info {
    flex-direction: column;
    padding: 0 1rem;
    text-align: center;
}

.box1 .box-vert1 .vert1 .info p {
    font-size: 1.2rem;
    margin-top: 1rem;
}

/* ----------- HORIZONTAL tipo 3 - box1.hor1 (usado em "Suspense e Mistério" e "Drama") ----------- */
.box .box-hor1 {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.box .box-hor1 a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: inherit;
    height: auto;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.box .box-hor1 a:hover {
    transform: scale(0.98);
}

.box .box-hor1 .hor1 {
    display: flex;
    width: 100%;
    flex-direction: row;
    border-radius: 8px;
    overflow: hidden;
}

.box .box-hor1 .hor1 .image,
.box .box-hor1 .hor1 .info {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

}

.box .box-hor1 .hor1 .image img {
    width: 25rem;
    height: 100%;

}

.box .box-hor1 .hor1 .info {
    text-align: justify;
    line-height: 1.4;
    flex-direction: column;
}
.box .box-hor1 .hor1 .info p {
    font-size: 1.2rem;
    text-align: justify;
    line-height: 1.4;
}
