.box {
  border: solid 3px red;
  display: flex;
  flex-direction: row;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.titulo {
  grid-column: 1 / -1;
  /* ocupa toda a largura da grid */
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid black;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.vert1 {
  border: solid 3px black;
  display: flex;
  grid-column: 1 / 8;
  justify-content: center;
}

.hor1 {
  border: solid 3px rgb(255, 0, 157);
  grid-column: 9/ 12;
  justify-content: center;

}

.info {
  border: solid 3px green;

}

.image {
  border: solid 3px purple;
  justify-content: space-between;
  margin: 0 10rem 5rem 10rem;
}

.image1 {
  border: solid 3px purple;
  justify-content: space-between;
  margin: 0 0 5rem 0;
}